/* Elements */

body{
  max-width: 100%;
  font-family: 'Raleway', sans-serif;
  font-size: 10px;
  text-align: center;
  overflow-x: hidden;
  margin: 0px;
}

p{
  font-weight: lighter;
}

/* Layout */

.pearl{
  width: 20px;
  float: left;
}

.banner{
  width: 100%;
  height: 30vh;
  background-image: url('links/welcome.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  margin: 0px;
}

ul .menu li{
  display: inline-block;
  margin: 0 auto;
  width: 100%;
  list-style: none;
}

.heading-middle{
  padding: 10px;
  margin-top: 10px;
  margin-bottom: 10px;
  font-weight: lighter;
  text-align: center;
}

.heading-left{
  background-color: lightgrey;
  padding: 10px;
  margin-top: 100px;
  margin-bottom: 10px;
  font-weight: lighter;
  text-align: left;
}

.content{
 margin: 0 auto;
 text-align: center;
}

.content h3{
  background-color: lightgrey;
  display: flex;
  align-content: center;
}

.content p{
  margin-top: 50px;
  margin-bottom: 50px;
  font-weight: 100;
  font-size: 20px;
  line-height: 30px;
}

.social{
  border-top: 1px dotted grey;
  border-bottom: 1px dotted grey;
}

.social ul{
  margin: 20px;
  padding-bottom: 20px;
  margin-bottom: 0;
  text-align: 
}

.connect li{
  display: inline-block;
  list-style: none;
  padding-left: 100px;
  margin: 20px;
}

.about{
  margin-top: 0 auto;
  padding: 30px;
  font-size: 15px;
}

.hours h3{
  text-align: center;
  font-size: 30px;
}

.hours p{
  margin-top: 10px;
  padding-right: 20px;
  width: 1000px;
  font-size: 20px;
  text-transform: uppercase;
  text-align: center;
  letter-spacing: 1px;
  line-height: 20px;
  margin-bottom: 30px;
}

.location{
  float: right;
  margin: 0 auto;
  /*list-style: none;*/
  width: 800px;
  text-align: left;
}


/* Breakpoints below*/

@media screen and (min-width: 720px) {

  .logo{
    position: absolute;
    z-index: 1;
    top: 80px;
    max-width: 720px;
  }

  .banner{
    width: 100%;
    height: 50vh;
    background-image: url('links/welcome.jpg');
    background-size: cover;
    background-repeat: no-repeat;
  }

  .heading-middle{
    font-size: 3rem;
    font-weight: lighter;
    text-align: center;
  }

}


@media screen and (min-width: 1200px) {

  .banner{
    width: 100%;
    height: 100vh;
    background-image: url('links/welcome.jpg');
    background-size: cover;
    background-repeat: no-repeat;
  }


}