/* Elements */

body{
  max-width: 100%;
  font-family: 'Raleway', sans-serif;
  font-size: 10px;
  text-align: center;
  overflow-x: hidden;
  margin: 0px;
}

p{
  font-weight: lighter;
}

/* Layout */

.logo{
  display: flex;
  align-items: center;
}

.banner{
  width: 100%;
  height: 30vh;
  background-image: url('links/welcome.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  margin: 0px;
}

.heading{
  font-size: 15px;
  font-weight: bolder;
  text-align: center;
  text-transform: uppercase;
  margin: 35px 18px;
  margin-bottom: 0px;
}

.content{
  font-size: 14px;
  margin: 0 auto;
  /* width: 50vh; */
  display: flex;
  list-style: none;
  flex-direction: column;
  align-content; space-around;
  margin-bottom: 20px;
}


.content p{
  margin: 20px 25px;
  font-weight: 100;
  font-size: 16px;
  line-height: 25px;
}

.social{
  border-top: 1px dotted grey;
  border-bottom: 1px dotted grey;
}

.social ul{
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding-left: 10px;
}

.connect li{
  width: 10px;
  align-content: center;
  display: inline-block;
  list-style: none;
  margin: 20px;
  padding-left: 20px;
}

.connect li:first-child{
  padding-left: 0px;
}
/* size of social media icons*/
.connect img{
  width: 30px;
}

.about{
  margin-top: 0 auto;
  padding: 30px;
  font-size: 15px;
}

.hours h3{
  text-align: center;
  font-size: 30px;
}

.hours p{
  margin-top: 10px;
  padding-right: 20px;
  width: 1000px;
  font-size: 20px;
  text-transform: uppercase;
  text-align: center;
  letter-spacing: 1px;
  line-height: 20px;
  margin-bottom: 30px;
}

.location{
  float: right;
  margin: 0 auto;
  /*list-style: none;*/
  width: 800px;
  text-align: left;
}


/* Breakpoints below*/

@media screen and (min-width: 720px) {

  .logo{
    display: flex;
  }

  .banner{
    width: 100%;
    height: 50vh;
    background-image: url('links/welcome.jpg');
    background-size: cover;
    background-repeat: no-repeat;
  }

  .heading{
    font-size: 30px;
    font-weight: bolder;
    text-align: center;
    text-transform: uppercase;
    margin: 35px 18px;
    margin-bottom: 25px;
  }

  @media screen and (min-width: 1200px) {

    .banner{
      width: 100%;
      height: 100vh;
      background-image: url('links/welcome.jpg');
      background-size: cover;
      background-repeat: no-repeat;
    }

    .heading{
      font-size: 40px;
      font-weight: bolder;
      text-align: center;
      text-transform: uppercase;
      margin: 45px 0px;
      margin-bottom: 40px;
    }


  }