/* Elements */

body{
  max-width: 100%;
  font-family: 'Raleway', sans-serif;
  font-size: 16px;
  text-align: center;
  overflow-x: hidden;
  margin: 0px;
}

p{
  font-weight: lighter;
}

h3{
  text-align: center;
  font-size: 1.25rem;
  text-transform: uppercase;
}
/* Layout */

.logo{
  display: flex;
  align-items: center;
}

.banner{
  width: 100%;
  height: 30vh;
  background-image: url('links/welcome.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  margin: 0px;
}

.menu-page-banner{
  width: 100%;
  height: 30vh;
  background-image: url('links/3.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  margin: 0px;
}

.contact-page-banner{
  width: 100%;
  height: 30vh;
  background-image: url('links/26.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  margin: 0px;
}

.heading{
  font-size: 2rem;
  font-weight: bolder;
  text-align: center;
  text-transform: uppercase;
  margin: 35px 18px;
  margin-bottom: 0px;
}

.content{
  font-size: 1.125rem;
  margin: 0 auto;
  display: flex;
  list-style: none;
  flex-direction: column;
  align-content; space-around;
  margin-bottom: 20px;
}

.content p{
  margin: 20px 25px;
  line-height: 25px;
}

.category{
  margin: 20px 25px;
  font-size: 16px;
  line-height: 25px;
}

.category p{
  margin: 20px 25px;
}

.flexbox-container{
  display: flex;
  justify-content: space-around;
}

.left{
  display: flex;
  width: 70%;
}

.price{
  display: flex;
  width: 30%;
}

.menu-lists{
  list-style: none;
  font-weight: lighter;
  line-height: 22px;
  text-align: left;
  display: flex;
  flex: 50%;
  flex-direction: column;
  flex-wrap: wrap;
}


.social{
  border-top: 1px dotted grey;
}

.social ul{
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding-left: 10px;
}

.connect li{
  width: 10px;
  align-content: center;
  display: inline-block;
  list-style: none;
  margin: 20px;
  padding-left: 20px;
}

.connect li:first-child{
  padding-left: 0px;
}
/* size of social media icons*/
.connect img{
  width: 30px;
}

.visit{
  display: flex;
  justify-content: ;
}

iframe{
  margin-top: 0px 30px;
}

.about{
  padding: 30px;
  font-size: 15px;
  background-color: #cb2828;
  color: white;
}

.hours p{
  margin-top: 10px;
  padding-right: 20px;
  font-size: 15px;
  text-transform: uppercase;
  text-align: center;
  letter-spacing: 1px;
  line-height: 15px;
  margin-bottom: 30px;
}

/* Breakpoints below*/

@media screen and (min-width: 720px) {

  .logo{
    display: flex;
    justify-content: center;
  }

  .banner{
    width: 100%;
    height: 50vh;
    background-image: url('links/welcome.jpg');
    background-size: cover;
    background-repeat: no-repeat;
  }

  .menu-page-banner{
    width: 100%;
    height: 50vh;
    background-image: url('links/3.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    margin: 0px;
  }

  .contact-page-banner{
    width: 100%;
    height: 50vh;
    background-image: url('links/26.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    margin: 0px;
    margin-bottom: 70px;
  }

  .heading{
    font-size: 30px;
    font-weight: bolder;
    text-align: center;
    text-transform: uppercase;
    margin: 35px 18px;
    margin-bottom: 25px;
  }

  iframe{
    margin-top: 50px;
    margin-bottom: 50px;
  }

}

@media screen and (min-width: 1200px) {

  .logo{
    display: flex;
    justify-content: center;
  }

  .banner{
    width: 100%;
    height: 100vh;
    background-image: url('links/welcome.jpg');
    background-size: cover;
    background-repeat: no-repeat;
  }

  .menu-page-banner{
    width: 100%;
    height: 100vh;
    background-image: url('links/3.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    margin: 0px;
  }

  .contact-page-banner{
    width: 100%;
    height: 100vh;
    background-image: url('links/26.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    margin: 0px;
    margin-bottom: 100px;
  }

  .heading{
    font-size: 40px;
    font-weight: bolder;
    text-align: center;
    text-transform: uppercase;
    margin: 45px 0px;
    margin-bottom: 40px;
  }

  .social ul{
    display: flex;
    flex-direction: row;
    justify-content: center;
  }
  
}